<html ng-app>
	<head>
		<title>Magic Life Counter</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="js/magiclife.js"></script>

		<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
		<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/> 
		<!--[if lt IE 8]>
		  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->

		<style>
		body {
			background-color: #F0F0F0;
		}

		ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			display: inline;
		}

		.life-buttons a {
			border-radius: 5px;
			border-style: solid;
			border-width: 2px;
			border-color: black;
			display: inline-block;
			min-width: 2em;
			text-align: center;
			font-style: normal;
			text-decoration: none;
		}

		.life-buttons a:hover {
			background-color: #CCCCCC
		}
		</style>
	</head>
	<body>
		<div ng-controller="MagicCtrl" class="container">
			<div class="span-24" style="padding-top: 1em;">
				<h1 class="span-4">{{life(0)}} life</h1>
				<div class="life-buttons span-4">
					<strong>{{name(0)}}</strong>
					<br/>
					<a href="" ng-click="incrementHealth(0, 1)">+1</a>
					<a href="" ng-click="decrementHealth(0, 1)">-1</a>
					<br/>
					<a href="" ng-click="incrementHealth(0, 5)">+5</a>
					<a href="" ng-click="decrementHealth(0, 5)">-5</a>
				</div>
			</div>
			<hr class="span-8" style="margin-top: 1em;"/>
			<div class="span-24" style="padding-top: 1em;">
				<h1 class="span-4">{{life(1)}} life</h1>
				<div class="life-buttons span-4">
					<strong>{{name(1)}}</strong>
					<br/>
					<a href="" ng-click="incrementHealth(1, 1)">+1</a>
					<a href="" ng-click="decrementHealth(1, 1)">-1</a>
					<br/>
					<a href="" ng-click="incrementHealth(1, 5)">+5</a>
					<a href="" ng-click="decrementHealth(1, 5)">-5</a>
				</div>
			</div>
		</div>
	</body>
</html>